<% include ../partials/header %>


<!-- This is the main page tutors will see -->
  <div class="jumbotron">
    <h1 class="hero-text">SBLC</h1>
    <div class="main-image">
      <img src="https://i.imgur.com/FbIu9FK.jpg" alt="flower-pic-placeholder">
    </div>
    <!-- <div class="main-btn">
      <a class="btn btn-info test-btn" href="/photos/new">Placeholder Btn</a>
    </div> -->
  </div>



<% if(currentUser) { %>
<!-- basics is container, which has a row, where each row has columns -->
<div class="room-container container-fluid">
  <div class="row">

  <!-- <div class="room-announcement col-md-6 col-lg-4">
    <h3>Quick Announcements</h3>
  </div> -->

  <div class="room-sblc col-md-6 col-lg-4">
    <!-- each room consist of divs: room-header, and room-content -->
    <div class="room-sblc-header well">
      <h2>SBLC</h2>
    </div>

    <div class="room-sblc-content ">
      <!-- data from DB will populate here-->

      <% comments.forEach(function(comment){ %>
        <div class="well">
          <p>
            <strong><%= comment.author.username %></strong>
            <span> | <%= comment.submittedDate %></span>
            <span> | <%= comment.submittedTime %> </span>
          </p>
          <p>
             <%= comment.text %>
          </p>

        <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
            <a class="edit-style" href="/comments/<%= comment._id %>/edit">Edit</a>
            <form class="delete-form" action="/comments/<%= comment._id %>?_method=DELETE" method="POST">
              <button class="del-style">Delete</button>
            </form>
            <% } %>
        </div>
        <% }) %>

      <div class="well">

        <% if(!currentUser) { %>
          <p>Join the conversation! Sign up for an account in seconds.</p>
          <a class="btn btn-info" href="/register">Sign up</a>
        <% } else {%>
          <!-- press a btn here to start GET req. to /comments/new -->
          <a href="#">Hi <strong><%= currentUser.username %>!</strong></a>
          <a class="btn btn-info add-comment-btn" href="/comments/new">Add a comment</a>
        <% } %>
      </div>

    </div> <!-- END of room-content-->
  </div> <!-- END of room-*-->


  <div class="room-urgent col-md-6 col-lg-4">
    <div class="room-urgent-header well">
      <h2>Urgent</h2>
      <h5>Post here with urgent questions or concerns. Email notifications will
        be sent out to those who opt-in, who can answer your questions.</h5>
    </div>
    <div class="room-urgent-content">
      <!-- data from DB will populate here-->
    </div>
  </div>



    <div class="room-general col-md-6 col-lg-4">
      <div class="room-general-header well">
        <h2>General</h2>
        <p>Talk about anything here!</p>
      </div>
      <div class="room-general-content">
        <!-- data from DB will populate here-->
      </div>
    </div>   <!-- END of room general -->



  </div> <!-- END of row -->
</div> <!-- END of room container -->
<!-- END of room container -->

<% } else { %>
  <h3>Please <span> <a href="/login">login</a></span> or <span> <a href="/register">
    sign up</a></span> to view and post messages.</h3>
<% } %>



























<div class="temp-content container">
  <h2><strong>All contents below this section is temporary and will be deleted and updated as
  the project progress.</strong></h2>

  <div class="well">
    <h3>A message from the developer.</h3>
    <p>Hello everyone!</p>
    <p>I set out on this project with a few objectives in mind. The goals are listed below, although not in any particular order or priority. </p>

  <p>The first goal is to make a messaging platform
      to keep communication in one place, where we could all remain in contact with each other, share ideas, or ask questions,
       without having to dance and tangle with Twitter, Facebook, etc..., because I realize
      that not everyone has or wants to use the aforementioned services.
  </p>
    <p>The second goal is to reduce complexity and introduce simplicity.
       I love Emails, but I feel that it does present some complexity, especially
       when more than 3 people send
    messages to each other, thus creating a messy spider web of messages.</p>

    <p>The third goal is to create something useful for the users, tailored to their needs.
      Creating this application from scratch gives me a chance
    to produce and customize for <em>you</em>.</p>
    <p>Finally, I am always looking for feedback. I'd love to
      hear what you have to say. However, I won't be able to implement certain feature request
      due to time constraint. I will work on this application, piece by piece, much like a brick layer lays brick.
      Ultimately, in the end, what I hope and envision for the end goal of this project is to have something useful that <strong>we</strong> created together.
    </p>

    <p>Regards,</p>
    <p>Philip Nguyen</p>

  </div>


  <div class="container">
    <div class="well">
      Current Application Progress: <strong>Pre-Alpha</strong> > Alpha > Beta > Release Candidate > Release
    </div>

  <div class="container">
      <div class="well">

         <!-- Example row of columns -->
         <div class="row">
           <div class="col-md-4">
             <h2>Work in Progress</h2>
             <a href="https://trello.com/b/ij4M1LKf/trello-sblc-app-public-board">Trello board for work in progress</a>
           </div>

           <div class="col-md-4">
             <h2>Upcoming features (Maybe, no promises)</h2>
             <ul>
               <li>Option to subscribe to Email notifications with new messages</li>
               <li>Image upload for user avatar picture</li>
             </ul>

           </div>
           <div class="col-md-4">
             <h2>Misc</h2>

             <h4>Possible bugs</h4>
             <ul>
               <li>Sometimes adding one comment will create duplicate comment</li>
             </ul>
             <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
           </div>
         </div>

         <hr>

       </div>
       </div> <!-- /container -->






</div>


<% include ../partials/footer %>
