<% include ../partials/header %>


  <div class="jumbotron">
    <h1 class="hero-text">SBLC</h1>
    <h3 class="hero-desc">
      Welcome tutors!
    </h3>
    <div class="main-btn">
      <a class="btn btn-info test-btn" href="/photos/new">Add New Photo</a>
    </div>
  </div>

    <div class="row">
           <!--photos is a collection from the MongoDB-->
          <% photos.forEach(function(photo){ %>
              <div class="col-md-3 col-sm-4 col-xs-12 column">

                <div class="img-border">
                  <div class="image size-fixed scale-fill" style="background-image: url(<%= photo.image %>);">
                    <img src="<%= photo.image %>" alt="Orientation: Square" width="400" height="400">
                  </div>
                    <a class="more-info-style" href="photos/<%= photo._id %>"><%= photo.name %></a>
                </div>


                  <!-- <a class="more-info-style" href="photos/<%= photo._id %>">clik</a> -->


                    <!--during creation, every anchor tag has a ref to its own id-->

              </div>
              <!--end of col-->

          <% }); %>


      </div>

<% include ../partials/footer %>
