<% include ../partials/header %>

<!-- This is the main page tutors will see -->
  <div class="jumbotron">
    <h1 class="hero-text">SBLC</h1>
    <h3 class="hero-desc">
      Welcome!
    </h3>
    <div class="main-image">
      <img src="https://i.imgur.com/FbIu9FK.jpg" alt="flower-pic-placeholder">
    </div>
    <div class="main-btn">
      <a class="btn btn-info test-btn" href="/photos/new">Placeholder Btn</a>
    </div>
  </div>

  <% comments.forEach(function(comment){ %>
    <div class="well">
      <p>
        <strong><%= comment.author.username %></strong>
        <span> | <%= comment.submittedDate %></span>
        <span> | <%= comment.submittedTime %> </span>
      </p>
      <p>
         <%= comment.text %>
      </p>

    <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
        <a class="edit-style" href="/comments/<%= comment._id %>/edit">Edit</a>
        <form class="delete-form" action="/comments/<%= comment._id %>?_method=DELETE" method="POST">
          <button class="del-style">Delete</button>
        </form>
        <% } %>
    </div>
    <% }) %>

  <div class="well-accent-bar">
    <p>Join the conversation!</p>
      <!-- press a btn here to start GET req. to /comments/new -->
    <a class="btn btn-info" href="/comments/new">Add a comment</a>
  </div>

<% include ../partials/footer %>
