<% include ../partials/header %>

<div class="jumbotron">
  <div class="well">
    <h3 class="demo-class" id="demo-id"></h3>
    <h3>South Bay Literacy Council</h3>
    <!-- Start of if statement for currentUser check-->
    <% if(currentUser) { %>
      <form action="/" method="GET" class="input-group search-bar">
        <input type="text" name="search" placeholder="Search messages, threads..." class="form-control">
        <button class="input-group-addon" type="submit"><i class="fa fa-search"></i></button>
      </form>
      <a class="search-tip" data-toggle="collapse" href="#search-tip" role="button" aria-expanded="false"
        aria-controls="search-tip"><i class="fas fa-info"></i> Search Tip</a>
      <div class="collapse" id="search-tip"><p class="tip">Shorter search query yields better results.</p></div>
    <% if (searchReq === true) { %>
      <% var pluralize = (resultsCount > 1) ?  "results" : "result"; %>
      <p>Found <%= resultsCount %> <%= pluralize %></p>
      <a href="/" class="">Cancel search and go to home page</a>
    <% } %>
  </div>
</div>

<div class="room-wrapper container">
  <div class="row">

    <!--Start of room: quick message-->
    <div class="col-md-6 col-lg-6">
      <div class="room-sblc-header border-line-break well">
        <h3><i class="fas fa-dove"></i>Quick Message</h3>
      </div>
      <div class="">
        <% dbResults[0].forEach(function(comment){ %>
          <div class="well">
            <p><a href="#" class="author"><%= comment.author.username %></a>
              <span><%=  moment(comment.submittedDate).fromNow() %></span></p>
            <p><%= comment.text %></p>
            <% if (currentUser && comment.author.id.equals(currentUser._id) || currentUser.isAdmin === true) { %>
              <a href="#" class="del-style del-btn comment-del-btn" data-toggle="modal" data-target="#basicModal" data-id="<%= comment._id %>">Delete</a>
              <span class="middle-dot">&#183;</span>
              <a class="del-style edit-style" href="/comments/<%= comment._id %>/edit">Edit</a>
            <% } %>
          </div>
        <% }) %>
        <!-- end of dbResults forEach -->
          <div class="well">
            <% if(!currentUser) { %>
              <p>Join the conversation! Sign up for an account in seconds.</p>
              <a class="btn btn-info" href="/register">Sign up</a>
            <% } else {%>
              <!-- press a btn here to start GET req. to /comments/new -->
              <!-- <a class="btn btn-primary add-comment-btn" href="/comments/new">Add Comment</a> -->
              <form action="/comments" method="POST">
                <div class="form-group">
                  <textarea name="comment[text]"  class="form-control comment-text-input text-body" placeholder="What's on your mind?" required></textarea>
                </div>
                <p>
                  <button class="btn btn-primary submit-btn">Submit</button>
                </p>
              </form>
            <% } %>
          </div>
      </div>
    </div>

    <!--Start of room: threads-->
    <div id="grandparent" class="col-md-6 col-lg-6">
      <div class="room-sblc-header border-line-break well">
        <h3><i class="fas fa-globe"></i>SBLC</h3>
      </div>
      <!--Start of controller btn for expanding/collapsing all threads-->
      <div class="collapsed" data-toggle="collapse" data-target="#grandparentContent"
        data-role="expander" data-group-id="grandparent">
      </div>
      <div class="well collapse show" id="grandparentContent" aria-expanded="true">
        <% dbResults[1].forEach(function(thread){ %>
          <!-- In data-target=".<%= thread._id %>, the period(.) before ejs syntax is ABSOLUTELY crucial because it will be part of the resulting string, which looks like: .5a863035e5d9ba127c156742-->
          <% if(thread.author.username !== '[deleted]') { %>
          <div class="well"  id="<%= thread._id %>">
            <!--Element having data-toggle="collapse" data-target=".<%= thread._id %> is your PRIMARY controller. Clicking on this element
            will cause its data-target to collapse/expand. This magic is done by bootstrap, because of the
            element having a 'collapse' class. You are free to move this controller to other elements.-->
            <p class="collapsed" data-toggle="collapse" data-target=".<%= thread._id %>"></p>

            <div class="thread wrapper">
              <!-- important to invoke color fxn here, and store return values in variable.
              if you invoke color() twice in ejs later, you'll get two mismatch colors  -->
              <% var newColor = color(); %>
              <div class="avatar-box">
                <i class="fas circle-icon <%= decideAvatar(thread.author.avatar) %>"
                  style="color:<%= newColor.icon %>;background:<%= newColor.background %>"></i>
              </div>

              <div class="message-box__body">
                <a class="message-box__subject" href="/threads/<%=thread._id%>"><%= thread.subject %></a>
                <p class="message-box__date">Submitted <span><%=  moment(thread.submittedDate).fromNow() %> by</span>
                <a href="#" class="message-box__author"><%= thread.author.username %></a></p>

                <div class="reply-box-parent collapsed" data-toggle="collapse" data-target=".<%= thread._id %>" id="<%= thread._id %>">
                  <% var word = (thread.replies.length > 1) ?  "comments" : "comment"; %>
                  <span class="expand"> <%= thread.replies.length %> <%= word %></span>
                </div>

                <% if (currentUser && thread.author.id.equals(currentUser._id) || currentUser.isAdmin === true) { %>
                  <div class="box">
                  <a href="#" class="del-style del-btn" data-toggle="modal" data-target="#basicModal" data-id="<%= thread._id %>">Delete</a>
                  <span class="middle-dot">&#183;</span>
                  <a class="edit-style" href="/threads/<%= thread._id %>/edit">Edit</a>
                  </div>
                <% } %>
                <!-- End of verify user for edit, and delete thread-->

                <!-- start of child well for each reply-->
                <div class="well well-inner collapse <%= thread._id %>">
                  <p class="thread-text"><%= thread.text %> </p>
                  <% thread.replies.forEach(function(reply) { %>
                    <div class="well-inner">
                      <a href="#" class="author"><%= reply.author.username %></a>
                      <p><%= reply.text %></p>
                    </div>
                  <% } )%>
                </div>

              </div>
            </div>


          </div>
          <% } %>
            <!-- end of check for author name not being '[deleted]' -->
          <% }) %>
        <!--end of forEach-->
      </div>
      <a class="btn btn-primary add-comment-btn" href="/threads/new">Add Thread</a>
    </div>
    <!-- END of room: threads-->
  </div>
  <!-- END of row class-->
</div>

<% } else { %>
  <h4>Welcome! Please
    <span>
      <a href="/login">login</a>
    </span>
    or
    <span>
      <a href="/register">
        sign up</a>
    </span>
    to view and post messages.</h4>
<% } %>
<!-- END of check for currentUser-->


<!-- <p> <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"> Btn with data-target ex</button> <button class="btn btn-primary" type="button"
data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2"> Another btn col/exp</button> </p> <div class="collapse" id="collapseExample"> <div class="card card-body"> more hidden stufff!! </div>
</div> <div class="collapse" id="collapseExample2"> <div class="card card-body"> more hidden stufff!! </div> </div> -->

<!-- <a href="#" class="del-style del-btn" data-toggle="modal" data-target="#basicModal">Delete</a> -->
<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Please confirm</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete? This cannot be undone.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Nevermind</button>
        <!-- <button type="button" class="btn btn-danger">Yes. Delete!</button> -->
        <form id="modal-form-action" class="delete-form" action="" method="POST">
          <button class="btn btn-danger">Delete</button>
        </form>

      </div>
    </div>
  </div>
</div>



            <div class="temp-content container">
              <strong>
                <p>All content below this section is temporary and will be deleted and updated as the project progress.</p>
              </strong>

              <div class="well">
                <h2>A message from the developer</h2>
                <p>Hello everyone!</p>
                <p>I set out on this project with a few objectives in mind. The goals are listed below, although not in any particular order or priority.
                </p>

                <p>The first goal is to make a messaging platform to keep communication in one place, where we can all remain in contact with each other, share ideas, or ask questions, without having to dance and tangle with Twitter, Facebook, etc. I realize that
                  not everyone has or wants to use the aforementioned services.
                </p>
                <p>The second goal is to reduce complexity and introduce simplicity. I love emails, but I feel that it does present some complexity, especially when more than 3 people send messages to each other.</p>

                <p>The third goal is to create something useful for the users, tailored to their needs. Creating this application from scratch gives me a chance to produce and customize for
                  <em>you</em>.</p>
                <p>Finally, I am always looking for feedback and suggestions! I'd love to hear what you have to say. However, I won't be able to implement certain feature request due to time constraint. I will work on this application, piece by piece, much like a
                  brick layer lays brick. Ultimately, what I hope and envision for the end goal of this project is to have something useful that
                  <strong>we</strong>
                  created together.</p>

                <p>Regards,</p>
                <p>Philip Nguyen</p>
              </div>

              <div class="well">
                <h2>Why You Should Use This Application</h2>
                <p>Are you ever shy about asking a question? Do you think that a question is too "stupid"? Then sign up for an anonymous account in seconds, ask, and get an answer! I believe this to be one of the biggest advantage about having an app like this.
                </p>
                <p>
                  For the record, there is no need to be shy about asking questions. Attempt to do some research first. If you can't find the answer, ask. It's how we all learn!
                </p>
                <p>Other Benefits:</p>
                <ul>
                  <!-- <li><a href="https://github.com/PhilJayN/sblc">Open source project.</a> Ability to review and contribute to source code.</li> -->
                  <li>Voice your opinion. Power to shape how the project develop.</li>
                  <li>All your messages in one place.</li>
                  <li>Access using any device with Internet: Android, iPhone, computer, tablet.</li>
                  <li>Help the community grow by providing feedback.</li>
                  <li>Learn by asking and answering questions.</li>
                  <li>Chance to communicate with other awesome, like-minded people.</li>
                </ul>
              </div>

              <div class="well">
                <h2>Development Status</h2>
                <p>
                  Stages of Development:
                  <strong>Pre-Alpha</strong>
                  > Alpha > Beta > Release Candidate > Release</p>
                <p>
                  Current Application Progress: 5%</p>
                <!-- <p>This is an open source project. Look at the <a href="https://github.com/PhilJayN/sblc">code on GitHub</a>.</p> -->
              </div>

              <div class="well">
                <h2>Features</h2>
                <!-- Example row of columns -->
                <div class="row">
                  <div class="col-md-4">
                    <h4>Work in Progress</h4>
                    <a href="https://trello.com/b/ij4M1LKf/trello-sblc-app-public-board">Trello board for work in progress</a>
                  </div>

                  <div class="col-md-4">
                    <h4>Upcoming features (Maybe, no promises)</h4>
                    <!-- <ul> <li>Option to subscribe to Email notifications with new messages</li> <li>Image upload for user avatar picture</li> </ul> -->

                  </div>
                  <div class="col-md-4">
                    <h4>Misc</h4>

                    <h4>Possible bugs</h4>
                    <ul>
                      <li>Sometimes adding one comment will create duplicate comment</li>
                    </ul>
                    <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
                  </div>
                </div>
              </div>

              <div class="well">
                <h2>Database and Server</h2>
                <p>Please keep in mind that comments that you post might be deleted as I maintain and develop the database. Eventually the data will be permanent.</p>
                <p>The web site can be slow at certain times due to the server. Future plan is to move to a different sever and change to a shorter web site name.</p>
              </div>

              <div class="well">
                <h2>Feedback and Suggestions</h2>
                <p>I'm open to all suggestion and feedback! Right now my main struggle is the user interface, mainly on improving the look, feel, and user experience of the app.</p>
                <p>If you spot a weird typo, or think the color scheme should be changed, or have suggestions about site layout, let me know!
                </p>
              </div>

              <% include ../partials/footer %>
