
<h1>demo</h1>
<%= thread %>

<!-- <%= thread.subject %>

<%= thread.replies %> -->


<h2>for each</h2>
<% thread.replies.forEach(function(reply){ %>

  <ul>
    <li>    <%= reply %></li>
  </ul>

  <div class="well">
    <li>    <%= reply.text %></li>

  </div>


<% }) %>    <!--end of forEach-->
