<% include ../partials/header %>
<div class="container well">
  <!-- In data-target=".<%= thread._id %>, the period(.) before ejs syntax is ABSOLUTELY crucial
  because it will be part of the resulting string, which looks like: .5a863035e5d9ba127c156742-->
  <div class="" id="<%= thread._id %>">
    <!--Element having data-toggle="collapse" data-target=".<%= thread._id %> is your PRIMARY controller. Clicking on this element
    will cause its data-target to collapse/expand. This magic is done by bootstrap, because of the
    element having a 'collapse' class. You are free to move this controller to other elements.-->
    <p class="collapsed" data-toggle="collapse" data-target=".<%= thread._id %>"></p>
    <a class="thread-subject" href="/threads/<%=thread._id%>"><%= thread.subject %></a>
    <p class="thread-tagline">Submitted <span><%=  moment(thread.submittedDate).fromNow() %> by</span>
      <a href="#" class="author"><%= thread.author.username %></a>
      <p class="thread-text"><%= thread.text %> </p>
    </p>
    <% if (currentUser && thread.author.id.equals(currentUser._id) || currentUser.isAdmin === true) { %>
      <p>
        <% var word = (thread.replies.length > 1) ?  "comments" : "comment"; %>
        <span class=""> <%= thread.replies.length %> <%= word %></span>
        <span class="middle-dot">&#183;</span>
        <a href="#" class="del-style del-btn thread-del-btn" data-toggle="modal" data-target="#basicModal" data-id="<%= thread._id %>">Delete</a>
        <span class="middle-dot">&#183;</span>
        <a class="edit-style" href="/threads/<%= thread._id %>/edit">Edit</a>
      </p>
    <% } %>
      <!-- End of verify user for edit, and delete thread-->

    <div class="reply-box-parent" id="<%= thread._id %>">
      <form action="/threads/reply" method="POST" class="reply-form">
        <div class="form-group">
          <input type="hidden" name="threadId" value="<%= thread._id %>">
          <textarea required class="comment-text-input thread-text-input form-control" name="reply"></textarea>
          <button class="btn btn-primary add-comment-btn">Add Comment</button>
        </div>
      </form>
    </div>

  <!-- Note: elements inside the collapse class and data-toggle="collapse" will be allowed to collapse/expand on click by Bootstrap JavaScript-->
  <!-- <div class="reply-box-parent collapsed" data-toggle="collapse" data-target=".<%= thread._id %>" id="<%= thread._id %>"> -->
    <!-- start of child well-->
    <div class="collapse show <%= thread._id %>">
    <% thread.replies.forEach(function(reply) { %>
      <% var newColor = color(); %>
      <div class="well reply-list reply-box-outer">
        <div class="flex-parent">
          <div class="">
            <i class="fas circle-icon <%= decideAvatar(reply.author.avatar) %>" style="color:<%= newColor.icon %>;background:<%= newColor.background %>"></i>
          </div>

          <div class="">
            <a href="#" class="reply-box__author"><%= reply.author.username %></a>
            <span class="reply-box__date"><%= moment(reply.submittedDate).fromNow() %></span>
            <p class="reply-box__text"><%= reply.text %></p>

            <!-- make sure reply-btn and dynamic-reply-box stay together. reply box depends on it. -->
            <% if (reply.author.username !== '[deleted]') { %>
              <span
                class="reply-btn"
                data-parent="<%= thread._id %>"
                data-self="<%= reply._id %>"
              >Reply
              </span>
            <% } %>
            <div class="dynamic-reply-box"></div>

            <!-- only show edit/del btn if correct user, AND only if username is NOT [deleted]-->
            <% if (currentUser && reply.author.id.equals(currentUser._id) || currentUser.isAdmin === true) { %>

              <% if (reply.author.username !== '[deleted]') { %>
                <a href="#" class="del-style del-btn reply-del-btn" data-toggle="modal"
                data-target="#basicModal" data-id="<%= thread._id %>" data-self="<%= reply._id %>"
                >Delete</a>

                <a class="edit-btn" data-parent="<%= thread._id %>" data-self="<%= reply._id %>"
                >Edit</a>
                <div class="dynamic-reply-box"></div>

              <% } %>

            <% } %>




            <!-- <span
              class="reply-del-btn"
              data-parent="<%= thread._id %>"
              data-self="<%= reply._id %>"
              data-id="<%= reply._id %>"
            >
              Delete
            </span> -->

          </div>
        </div>
        <!-- end of flex-parent -->

        <p>
          <% reply.replies.forEach(function(obj) { %>
            <% var replyColor = color(); %>
            <div class="flex-parent spacing">
              <div class="avatar-box">
                <i class="fas circle-icon <%= decideAvatar(obj.author.avatar) %>" style="color:<%= replyColor.icon %>;background:<%= replyColor.background %>"></i>
              </div>

              <div
                class="well reply-box-inner"
                data-parent-thread="<%= thread._id %>"
                data-parent-reply="<%= reply._id %>"
              >
                <p class="thread-tagline"><a href="#" class="author"><%= obj.author.username %></a>
                  <span><%= moment(reply.submittedDate).fromNow() %></span>
                </p>
                <p> <%= obj.text%> </p>
              </div>
            </div>
            <% }); %>
            <!-- End of for each reply  -->
        </p>
      </div>

      <div class="reply-box-parent" id="<%= reply._id %>"></div>
    <% } )%>
    </div>
  </div>
</div>

    <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Please confirm deletion</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h3>This action is permanent!</h3>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Nevermind</button>
            <!-- form action is empty, but will get populated with data from main.js file. -->
            <form id="modal-form-action" class="delete-form" action="" method="POST">
              <button class="btn btn-danger">Delete</button>
            </form>
          </div>
        </div>
      </div>
    </div>

<% include ../partials/footer %>
